.header {
    background-color: $white;
    font-weight: 400;
    z-index: 100;
    position: relative;

    &__body {
        grid-column: 2/-2;

        height: 100%;
        justify-content: center;
        align-items: center;
        display: grid;
        gap: 1em;
        // Сетка шапки
        max-width: $laptopL_content;
        grid-template-columns:
            auto auto minmax(0px, $laptopL_content) auto auto;
    }

    &-logo {
        grid-column: 1;
        background-image: url('/frontend/assets/img/logo.svg');
        width: 130px;
        height: 150%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    &-pages {
        grid-column: 2;
        display: flex;
        gap: 1em;
    }

    &__buy-btn {
        grid-column: 4;
        font-weight: 300;
        background-color: $black;
        color: $white;
        padding: .4em 1.2em;
    }

    &-icons {
        grid-column: 5;
        display: flex;
        gap: .5em;

        &__btn {
            width: 30px;
            height: 30px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;

            &--search {
                background-image: url('/frontend/assets/img/icon_search.svg');
            }

            &--cart {
                background-image: url('/frontend/assets/img/icon_cart.svg');

            }
        }
    }
}