@font-face {
    font-family: "Jost";
    font-style: italic;
    font-weight: 100 900;
    src: url("frontend/assets/fonts/jost/Jost-Italic-VariableFont_wght.ttf") format("truetype")
}

@font-face {
    font-family: "Jost";
    font-style: normal;
    font-weight: 100 900;
    src: url("frontend/assets/fonts/jost/Jost-VariableFont_wght.ttf") format("truetype")
}

@font-face {
    font-family: "Jost";
    font-weight: 900;
    src: url("frontend/assets/fonts/jost/static/Jost-Black.ttf") format("truetype")
}

@font-face {
    font-family: "Jost";
    font-style: italic;
    font-weight: 900;
    src: url("frontend/assets/fonts/jost/static/Jost-BlackItalic.ttf") format("truetype")
}

@font-face {
    font-family: "Jost";
    font-weight: 700;
    src: url("frontend/assets/fonts/jost/static/Jost-Bold.ttf") format("truetype")
}

@font-face {
    font-family: "Jost";
    font-style: italic;
    font-weight: 700;
    src: url("frontend/assets/fonts/jost/static/Jost-BoldItalic.ttf") format("truetype")
}

@font-face {
    font-family: "Jost";
    font-weight: 800;
    src: url("frontend/assets/fonts/jost/static/Jost-ExtraBold.ttf") format("truetype")
}

@font-face {
    font-family: "Jost";
    font-style: italic;
    font-weight: 800;
    src: url("frontend/assets/fonts/jost/static/Jost-ExtraBoldItalic.ttf") format("truetype")
}

@font-face {
    font-family: "Jost";
    font-weight: 200;
    src: url("frontend/assets/fonts/jost/static/Jost-ExtraLight.ttf") format("truetype")
}

@font-face {
    font-family: "Jost";
    font-style: italic;
    font-weight: 200;
    src: url("frontend/assets/fonts/jost/static/Jost-ExtraLightItalic.ttf") format("truetype")
}

@font-face {
    font-family: "Jost";
    font-style: italic;
    font-weight: 400;
    src: url("frontend/assets/fonts/jost/static/Jost-Italic.ttf") format("truetype")
}

@font-face {
    font-family: "Jost";
    font-weight: 300;
    src: url("frontend/assets/fonts/jost/static/Jost-Light.ttf") format("truetype")
}

@font-face {
    font-family: "Jost";
    font-style: italic;
    font-weight: 300;
    src: url("frontend/assets/fonts/jost/static/Jost-LightItalic.ttf") format("truetype")
}

@font-face {
    font-family: "Jost";
    font-weight: 500;
    src: url("frontend/assets/fonts/jost/static/Jost-Medium.ttf") format("truetype")
}

@font-face {
    font-family: "Jost";
    font-style: italic;
    font-weight: 500;
    src: url("frontend/assets/fonts/jost/static/Jost-MediumItalic.ttf") format("truetype")
}

@font-face {
    font-family: "Jost";
    font-weight: 400;
    src: url("frontend/assets/fonts/jost/static/Jost-Regular.ttf") format("truetype")
}

@font-face {
    font-family: "Jost";
    font-weight: 600;
    src: url("frontend/assets/fonts/jost/static/Jost-SemiBold.ttf") format("truetype")
}

@font-face {
    font-family: "Jost";
    font-style: italic;
    font-weight: 600;
    src: url("frontend/assets/fonts/jost/static/Jost-SemiBoldItalic.ttf") format("truetype")
}

@font-face {
    font-family: "Jost";
    font-weight: 100;
    src: url("frontend/assets/fonts/jost/static/Jost-Thin.ttf") format("truetype")
}

@font-face {
    font-family: "Jost";
    font-style: italic;
    font-weight: 100;
    src: url("frontend/assets/fonts/jost/static/Jost-ThinItalic.ttf") format("truetype")
}

:root {
    --black: #000;
    --gradientLinear: linear-gradient(0deg, #000, #fff);
    --gradientRadial: radial-gradient(circle, #000, #fff)
}

*,
*::before,
*::after {
    box-sizing: border-box
}

::-moz-selection {
    background-color: rgba(0, 153, 255, .443)
}

::selection {
    background-color: rgba(0, 153, 255, .443)
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none
}

html,
body {
    height: 100%;
    font-family: Jost;
    font-size: 16px
}

body {
    background-color: #fff
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0
}

body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    overflow: auto
}

a {
    color: inherit;
    font-family: inherit;
    text-decoration: none
}

img {
    max-width: 100%;
    display: block
}

input,
button {
    outline: none
}

input[type=submit],
button,
label {
    cursor: pointer
}

input[type=submit],
button {
    padding: 0;
    color: inherit;
    border: none;
    background-color: rgba(0, 0, 0, 0)
}

input,
button,
textarea,
select {
    font: inherit
}

input[type=checkbox],
input[type=radio] {
    display: none
}

table {
    border-collapse: collapse
}

.header {
    grid-area: header;
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.main {
    grid-area: pageContent;
    display: grid;
    grid-template-columns: repeat(12, 1fr)
}

.footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.wrap {
    display: grid;
    min-height: 100%;
    grid-template-rows: 100px minmax(100vh, auto) minmax(730px, auto)
}

@media(max-width: 1920px) {
    .wrap {
        grid-template-areas: "header header header" " . pageContent . " "footer footer footer";
        grid-template-columns: 1fr minmax(320px, 1280px) 1fr
    }

    .wrap .sidebar {
        display: none
    }
}

.header {
    background-color: #fff;
    font-weight: 400;
    z-index: 100;
    position: relative
}

.header__body {
    grid-column: 2/-2;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: grid;
    gap: 1em;
    max-width: 1280px;
    grid-template-columns: auto auto minmax(0px, 1280px) auto auto
}

.header-logo {
    grid-column: 1;
    background-image: url("frontend/assets/img/logo.svg");
    width: 130px;
    height: 150%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat
}

.header-pages {
    grid-column: 2;
    display: flex;
    gap: 1em
}

.header__buy-btn {
    grid-column: 4;
    font-weight: 300;
    background-color: #000;
    color: #fff;
    padding: .4em 1.2em
}

.header-icons {
    grid-column: 5;
    display: flex;
    gap: .5em
}

.header-icons__btn {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat
}

.header-icons__btn--search {
    background-image: url("frontend/assets/img/icon_search.svg")
}

.header-icons__btn--cart {
    background-image: url("frontend/assets/img/icon_cart.svg")
}

.footer {
    border-top: 2px solid rgba(0, 0, 0, .0392156863);
    position: relative
}

.footer__body {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, 1fr) minmax(0px, 1fr);
    grid-gap: 2%
}

.footer-title {
    font-size: 1.2em;
    font-weight: 500;
    text-transform: none
}

.footer-form {
    width: 100%;
    margin-top: 1.2em;
    display: flex
}

.footer-form__input {
    width: 100%;
    padding: .4em 1.2em;
    outline: none;
    border: 1px solid #e2e1df;
    color: #000
}

.footer-form__input::-moz-placeholder {
    color: #b8b8b8
}

.footer-form__input::placeholder {
    color: #b8b8b8
}

.footer-form__btn {
    font-weight: 400;
    background-color: #000;
    color: #fff;
    padding: .4em 1.2em
}

.footer-link {
    font-size: .98em;
    font-weight: 400;
    text-transform: none
}

.footer-socials {
    margin-top: 8em;
    display: flex;
    gap: .5em
}

.footer-socials__btn {
    width: 5em;
    height: 5em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat
}

.footer-socials__btn--first {
    background-image: url("frontend/assets/img/social_1.svg")
}

.footer-socials__btn--second {
    background-image: url("frontend/assets/img/social_2.svg")
}

.footer-socials__btn--third {
    background-image: url("frontend/assets/img/social_3.svg")
}

.footer-col--N1 {
    grid-column: 2/4
}

.footer-col--N2 {
    grid-column: 5
}

.footer-col--N3 {
    grid-column: 6
}

.footer-col--N4 {
    grid-column: 7
}

.footer-col--N2,
.footer-col--N3,
.footer-col--N4 {
    display: flex;
    flex-direction: column;
    gap: .5em
}

.copy {
    font-weight: .9em;
    margin-top: 6em;
    font-weight: 500
}

.homepage {
    color: #000;
    grid-template-rows: 660px 660px auto auto auto auto;
    grid-row-gap: 6em
}

.homepage-sect {
    position: relative;
    font-size: 16px;
    grid-column: 1/-1;
    padding: 2em 0 2em 0;
    color: #000
}

.homepage-sect-title {
    font-weight: 400;
    width: -moz-max-content;
    width: max-content;
    background-color: #000;
    color: #fff;
    padding: .5em 1.8em;
    margin-bottom: 3em
}

.homepage-sect-grid--big {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 470px;
    grid-gap: 2.5em
}

.homepage-sect-grid--small {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 325px;
    grid-gap: 2.5em
}

.homepage-sect-card {
    background-color: rgba(0, 0, 0, .0392156863);
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1em 1.2em;
    font-size: 1.5em;
    gap: 1em;
    text-transform: uppercase
}

.homepage-sect-card::before {
    content: "";
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center
}

.homepage-sect-card--big {
    height: 470px
}

.homepage-sect-card--big::before {
    width: 576px;
    height: 360px
}

.homepage-sect-card--small {
    height: 325px
}

.homepage-sect-card--small::before {
    width: 345px;
    height: 215px
}

.homepage-sect-primary {
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-image: url("frontend/assets/img/img_1.png");
    background-size: 50% auto;
    background-position: 100% center;
    background-repeat: no-repeat
}

.homepage-sect-primary-body {
    grid-column: 1;
    padding-top: 4em
}

.homepage-sect-primary__txt-yellow-bg {
    background-color: #e2b013;
    color: #fff;
    font-size: .8em;
    padding: .1em .8em;
    text-transform: uppercase
}

.homepage-sect-primary-title {
    margin-top: .8em;
    font-weight: 400;
    font-size: 3.5em;
    line-height: 1.3em
}

.homepage-sect-primary-title__txt-upscaled {
    margin-top: 1em;
    font-size: 1.7em
}

.homepage-sect-primary-text {
    margin-top: 1em;
    font-size: 1.6em;
    line-height: 1.4em;
    color: #333
}

.homepage-sect-primary-icons {
    width: 100%;
    padding-right: 12%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10%;
    color: #333
}

.homepage-sect-primary-icons__icon {
    height: 16em;
    font-weight: 400;
    font-size: .7em;
    display: flex;
    text-align: center;
    align-items: flex-end;
    justify-content: center;
    text-transform: uppercase;
    line-height: 1em;
    background-size: 5.2em;
    background-position: center 7em;
    background-repeat: no-repeat
}

.homepage-sect-primary-icons__icon--first {
    background-image: url("frontend/assets/img/icon_1.svg")
}

.homepage-sect-primary-icons__icon--second {
    background-image: url("frontend/assets/img/icon_2.svg")
}

.homepage-sect-primary-icons__icon--third {
    background-image: url("frontend/assets/img/icon_3.svg")
}

.homepage-sect-primary-icons__icon--fourth {
    background-image: url("frontend/assets/img/icon_4.svg")
}

.homepage-sect-description {
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-image: url("frontend/assets/img/img_2.png");
    background-size: 50% auto;
    background-position: 0% center;
    background-repeat: no-repeat
}

.homepage-sect-description-body {
    padding-left: 2.8em;
    grid-column: 2
}

.homepage-sect-description-title {
    font-weight: 400;
    font-size: 5.95em;
    line-height: 2em
}

.homepage-sect-description-text {
    font-size: 1.3em;
    line-height: 1.2em;
    color: #333
}

.homepage-sect-description-links {
    display: flex;
    flex-wrap: wrap;
    font-weight: 300;
    margin-top: 2.2em;
    -moz-column-gap: .4em;
    column-gap: .4em
}

.homepage-sect-description-links__btn {
    background-color: #000;
    color: #fff;
    padding: .5em 1.8em .5em 1.2em
}

.homepage-sect-description-links__break {
    flex-basis: 100%;
    height: .4em
}

.homepage-sect-3 {
    grid-row: 3
}

.homepage-sect-3-card::before {
    background-image: url("frontend/assets/img/sprite_3.png")
}

.homepage-sect-3-card-2::before {
    background-position-y: 33.65%
}

.homepage-sect-3-card-3::before {
    background-position-y: 66.65%
}

.homepage-sect-3-card-4::before {
    background-position-y: 100%
}

.homepage-sect-4 {
    grid-row: 4
}

.homepage-sect-4-card::before {
    background-image: url("frontend/assets/img/sprite_4.png")
}

.homepage-sect-4-card-2::before {
    background-position-y: 16.67%
}

.homepage-sect-4-card-3::before {
    background-position-y: 33.25%
}

.homepage-sect-4-card-4::before {
    background-position-y: 50%
}

.homepage-sect-4-card-5::before {
    background-position-y: 66.67%
}

.homepage-sect-4-card-6::before {
    background-position-y: 83.35%
}

.homepage-sect-4-card-7::before {
    background-position-y: 100%
}

.homepage-sect-5 {
    grid-row: 5
}

.homepage-sect-5-card::before {
    background-image: url("frontend/assets/img/sprite_5.png")
}

.homepage-sect-5-card-2::before {
    background-position-y: 10%
}

.homepage-sect-5-card-3::before {
    background-position-y: 20%
}

.homepage-sect-5-card-4::before {
    background-position-y: 30%
}

.homepage-sect-5-card-5::before {
    background-position-y: 40%
}

.homepage-sect-5-card-6::before {
    background-position-y: 50%
}

.homepage-sect-5-card-7::before {
    background-position-y: 60%
}

.homepage-sect-5-card-8::before {
    background-position-y: 70%
}

.homepage-sect-5-card-9::before {
    background-position-y: 80%
}

.homepage-sect-5-card-10::before {
    background-position-y: 90%
}

.homepage-sect-5-card-11::before {
    background-position-y: 100%
}

.homepage-sect-6 {
    grid-row: 6
}

.homepage-sect-6-card::before {
    background-image: url("frontend/assets/img/sprite_3.png")
}

.homepage-sect-6-card-2::before {
    background-position-y: 33.65%
}

.homepage-sect-6-card-3::before {
    background-position-y: 66.65%
}

.homepage-sect-6-card-4::before {
    background-position-y: 100%
}

/*# sourceMappingURL=main.css.map */