<footer class="footer">
    <div class="footer__body">
        <!--? Колонка №1 -->
        <div class="footer-col footer-col--N1">
            <h4 class="footer-title">Subscribe our newsletter</h4>
            <!-- Форма подписки -->
            <form class="footer-form" method="post">
                <input class="footer-form__input" type="text" name="email" placeholder="E-mail">
                <button class="footer-form__btn">Subscribe</button>
            </form>
            <!-- Соц-сети -->
            <div class="footer-socials">
                <button class="footer-socials__btn footer-socials__btn--first"></button>
                <button class="footer-socials__btn footer-socials__btn--second"></button>
                <button class="footer-socials__btn footer-socials__btn--third"></button>
            </div>
        </div>
        <!--? Колонка №2 -->
        <div class="footer-col footer-col--N2">
            <h4 class="footer-title">Landing Pages</h4>
            <a href="" class="footer-link">Landing 1</a>
            <a href="" class="footer-link">Landing 2</a>
            <a href="" class="footer-link">Landing 3</a>
            <a href="" class="footer-link">Landing 4</a>
            <h4 class="footer-title">Company</h4>
            <a href="" class="footer-link">About 1</a>
            <a href="" class="footer-link">About 2</a>
            <a href="" class="footer-link">Contact 1</a>
            <a href="" class="footer-link">Contact 2</a>
            <a href="" class="footer-link">Contact 3</a>
            <a href="" class="footer-link">Team</a>
            <a href="" class="footer-link">FAQ</a>
        </div>
        <!--? Колонка №3 -->
        <div class="footer-col footer-col--N3">
            <h4 class="footer-title">CMS Pages</h4>
            <a href="" class="footer-link">Blog 1</a>
            <a href="" class="footer-link">Blog 2</a>
            <a href="" class="footer-link">Blog 3</a>
            <a href="" class="footer-link">Single Post Page</a>
            <a href="" class="footer-link">Shop 1</a>
            <a href="" class="footer-link">Shop 2</a>
            <a href="" class="footer-link">Single Product Page</a>
            <a href="" class="footer-link">Careers</a>
            <a href="" class="footer-link">Single Careers Page</a>
            <a href="" class="footer-link">Works</a>
            <a href="" class="footer-link">Single Work Page</a>
        </div>
        <!--? Колонка №4 -->
        <div class="footer-col footer-col--N4">
            <h4 class="footer-title">Utility</h4>
            <a href="" class="footer-link">Coming Soon</a>
            <a href="" class="footer-link">Password</a>
            <a href="" class="footer-link">Privacy Policy</a>
            <a href="" class="footer-link">Terms And Conditions</a>
            <a href="" class="footer-link">404</a>
            <a href="" class="footer-link">Licensing</a>
            <a href="" class="footer-link">Style Guide</a>
        </div>

    </div>
    <!-- Копирайт -->
    <div class="copy">Copyright © 2025 Vladislav Stetsyuk.</div>
</footer>