<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="format-detection" content="telephone=no">

<meta name="description" content="">
<meta name="keywords" content="">
<meta name="robots" content="none">
<meta name="Autor" content="">
<meta name="Copyright" content="">
<meta name="Address" content="">

<meta property="og:locale" content="">
<meta property="og:type" content="article">
<meta property="og:title" content="">
<meta property="og:description" content="">
<meta property="og:image" content="">
<meta property="og:url" content="">
<meta property="og:site_name" content="">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="">
<meta name="twitter:title" content="">
<meta name="twitter:description" content="">
<meta name="twitter:image" content="">

<!-- Favicon -->
<link type="image/x-icon" rel="icon" href="favicon.ico">

<!-- CSS including -->
<link rel="stylesheet" type="text/css" href="frontend/css/main.css">