<header class="header">
    <div class="header__body">
        <!-- Логитип -->
        <button class="header-logo"></button>
        <!-- Навигация -->
        <div class="header-pages">
            <button class="header-pages__btn">Landing</button>
            <button class="header-pages__btn">Company</button>
            <button class="header-pages__btn">CMS Pages</button>
            <button class="header-pages__btn">Utility</button>
        </div>
        <!-- Кнопка покупки -->
        <button class="header__buy-btn">$129 Buy Now</button>
        <!-- Иконки поиска и тележки -->
        <div class="header-icons">
            <button class="header-icons__btn header-icons__btn--search"></button>
            <button class="header-icons__btn header-icons__btn--cart"></button>
        </div>
    </div>
</header>