.homepage {
    color: $black;
    grid-template-rows: 660px 660px auto auto auto auto;
    grid-row-gap: 6em;

    &-sect {

        // ? Адаптивность
        @media (max-width: $laptopL_content) {}

        position: relative;
        font-size: 16px; // Регулировать размер контента
        grid-column: 1/-1;
        padding: 2em 0 2em 0;
        color: $black;

        // Заголовки
        &-title {
            font-weight: 400;
            width: max-content;
            background-color: $black;
            color: $white;
            padding: .5em 1.8em;
            margin-bottom: 3em;
        }

        // Сетки для карточек
        &-grid {
            &--big {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-auto-rows: 470px;
                grid-gap: 2.5em;
            }

            &--small {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 325px;
                grid-gap: 2.5em;
            }
        }

        // Карточки
        &-card {

            // Изображение на карточке // ? Основные стили 
            &::before {
                content: '';
                background-size: 100%; // Размер изображений на карточке
                background-repeat: no-repeat;
                background-position-x: center;
            }

            background-color: #0000000A;
            width: auto;

            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 1em 1.2em;
            font-size: 1.5em;
            gap: 1em;
            text-transform: uppercase;

            &--big {
                height: 470px;

                // Изображение на карточке
                &::before {
                    width: 576px;
                    height: 360px;
                }
            }

            &--small {
                height: 325px;

                // Изображение на карточке
                &::before {
                    width: 345px;
                    height: 215px;
                }
            }
        }

        // ? Основная секция
        &-primary {
            grid-row: 1;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            background-image: url('/frontend/assets/img/img_1.png');
            background-size: 50% auto;
            background-position: 100% center;
            background-repeat: no-repeat;

            &-body {
                grid-column: 1;
                padding-top: 4em;
            }

            &__txt-yellow-bg {
                background-color: $yellow;
                color: $white;
                font-size: .8em;
                padding: .1em .8em;
                text-transform: uppercase;
            }

            &-title {
                margin-top: .8em;
                font-weight: 400;
                font-size: 3.5em;
                line-height: 1.3em;

                &__txt-upscaled {
                    margin-top: 1em;
                    font-size: 1.7em;
                }
            }

            &-text {
                margin-top: 1em;
                font-size: 1.6em;
                line-height: 1.4em;
                color: #333333;
            }

            &-icons {
                width: 100%;
                padding-right: 12%;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 10%;
                color: #333333;

                &__icon {
                    height: 16em;
                    font-weight: 400;
                    font-size: .7em;
                    display: flex;
                    text-align: center;
                    align-items: flex-end;
                    justify-content: center;
                    text-transform: uppercase;
                    line-height: 1em;
                    background-size: 5.2em;
                    background-position: center 7em;
                    background-repeat: no-repeat;

                    &--first {
                        background-image: url('/frontend/assets/img/icon_1.svg');
                    }

                    &--second {
                        background-image: url('/frontend/assets/img/icon_2.svg');
                    }

                    &--third {
                        background-image: url('/frontend/assets/img/icon_3.svg');
                    }

                    &--fourth {
                        background-image: url('/frontend/assets/img/icon_4.svg');
                    }
                }

            }
        }

        // ? Секция с описанием
        &-description {
            grid-row: 2;
            display: grid;
            grid-template-columns: repeat(2, 1fr);


            background-image: url('/frontend/assets/img/img_2.png');
            background-size: 50% auto;
            background-position: 0% center;
            background-repeat: no-repeat;

            &-body {
                padding-left: 2.8em;
                grid-column: 2;
            }

            &-title {
                font-weight: 400;
                font-size: 3.5em*1.7;
                line-height: 2em;
            }

            &-text {
                font-size: 1.3em;
                line-height: 1.2em;
                color: #333333;
            }

            &-links {
                display: flex;
                flex-wrap: wrap;
                font-weight: 300;
                margin-top: 2.2em;
                column-gap: .4em; // Отступ между колонками

                &__btn {
                    background-color: $black;
                    color: $white;
                    padding: .5em 1.8em .5em 1.2em;
                }

                &__break {
                    flex-basis: 100%;
                    height: .4em; // Отступ между линиями
                }
            }
        }

        // ! : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : :
        // ! Классы следующих секций соответствуют 
        // !            положению в сетке страницы 
        // ! : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : :

        // ? Секция №3 (LANDING PAGES)
        &-3 {
            grid-row: 3;

            // Карточки
            &-card {
                &::before {
                    background-image: url('/frontend/assets/img/sprite_3.png');
                }

                &-2 {
                    &::before {
                        background-position-y: 33.65%;
                    }
                }

                &-3 {
                    &::before {
                        background-position-y: 66.65%;
                    }
                }

                &-4 {
                    &::before {
                        background-position-y: 100%;
                    }
                }
            }
        }

        // ? Секция №4 (Company)
        &-4 {
            grid-row: 4;

            // Карточки
            &-card {
                &::before {
                    background-image: url('/frontend/assets/img/sprite_4.png');
                }

                &-2 {
                    &::before {
                        background-position-y: 16.67%;
                    }
                }

                &-3 {
                    &::before {
                        background-position-y: 33.25%;
                    }
                }

                &-4 {
                    &::before {
                        background-position-y: 50%;
                    }
                }

                &-5 {
                    &::before {
                        background-position-y: 66.67%;
                    }
                }

                &-6 {
                    &::before {
                        background-position-y: 83.35%;
                    }
                }

                &-7 {
                    &::before {
                        background-position-y: 100%;
                    }
                }
            }
        }

        // ? Секция №5 (CMS Pages)
        &-5 {
            grid-row: 5;

            // Карточки
            &-card {
                &::before {
                    background-image: url('/frontend/assets/img/sprite_5.png');
                }

                &-2 {
                    &::before {
                        background-position-y: 10%;
                    }
                }

                &-3 {
                    &::before {
                        background-position-y: 20%;
                    }
                }

                &-4 {
                    &::before {
                        background-position-y: 30%;
                    }
                }

                &-5 {
                    &::before {
                        background-position-y: 40%;
                    }
                }

                &-6 {
                    &::before {
                        background-position-y: 50%;
                    }
                }

                &-7 {
                    &::before {
                        background-position-y: 60%;
                    }
                }

                &-8 {
                    &::before {
                        background-position-y: 70%;
                    }
                }

                &-9 {
                    &::before {
                        background-position-y: 80%;
                    }
                }

                &-10 {
                    &::before {
                        background-position-y: 90%;
                    }
                }

                &-11 {
                    &::before {
                        background-position-y: 100%;
                    }
                }
            }
        }

        // ? Секция №6 (Utility)
        &-6 {
            grid-row: 6;

            // Карточки
            &-card {
                &::before {
                    background-image: url('/frontend/assets/img/sprite_3.png');
                }

                &-2 {
                    &::before {
                        background-position-y: 33.65%;
                    }
                }

                &-3 {
                    &::before {
                        background-position-y: 66.65%;
                    }
                }

                &-4 {
                    &::before {
                        background-position-y: 100%;
                    }
                }
            }
        }
    }
}